<html>
<head>
<style type="text/css">
	.header { text-align: right; position: fixed; right: 1em; }
	.header * { opacity: 0.2; -webkit-transition: opacity 0.5s; }
	.header *:hover { opacity: 1; }
	.title { font-size: 1.5em; font-family: arial; font-weight: bold; margin-bottom: 0.3em; }
	.text { white-space: pre-wrap;}
	.date { position: absolute; right: 1em; }
	.entry { padding-top: 0.5em; border-top: 1px solid black; }
	.entry:first-child { border-top: 0 solid; }
	.entry { margin-bottom: 1em; }
</style>
</head>
<body>
	<div class="header">
		{% if user %}
		<a href="{{ logout_url }}">Sign out</a>
		{% else %}
		<a href="{{ login_url }}">Sign in</a>
		{% endif %}
		{% if is_admin %}
		<a href="{{ new_blog_entry_url }}">New blog entry</a>
		{% endif %}
	</div>
	<div class="content">
		{% for entry in entries %}
			<div class="entry">
				<div class="date">{{ entry.created|date:"Y-m-d" }}</div>
				<div class="title">{{ entry.title }}</div>
				<div class="text">{{ entry.text|safe }}</div>
			</div>
		{% empty %}
			No entries yet, please check back later!
		{% endfor %}
	</div>
</body>
</html>